/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
                  margin: 0 auto ;
	padding: 0;
                  width: 1100px; 
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.fix{overflow: hidden}
.area{background: #B0AABE}
.head{}
.logo{width: 20%; float: left}
.logo h1 {    font-size: 50px;
    color: #fff;
    border: 1px solid;
    background: #0F47A0;
    padding: 20px;}
.home{width: 80%; float: left; height: 200px; }
.home a {margin-left: 821px;
    margin-top: 58px;}
.main_content{    text-align: center;
}
.tabl{margin-left: 350px}
.footer{background: #0F47A0; text-align: center; padding: 20px; padding-top: 20px;}
.footer p {color:#fff}
.but{    margin-left: 426px;
    margin-top: 90px;
    padding-top: 1px;
    padding-bottom: 100px;}
.but ul{}
.but ul li{    float: left;
    margin-left: 20px;}
.but ul li a{}
.tbl_list{margin-left: 350px;     border: 1px solid #fff}
.tbl_list tr {border: 1px solid #154FCA; background: #fff;}
.tbl_list td {border: 1px solid #154FCA; padding: 20px}
.tbl_list th {    border: 1px solid #154FCA;
    font-weight: bold;
    padding: 10px;}